.login {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: 
      url("https://images.pexels.com/photos/4076338/pexels-photo-4076338.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-size: cover;
  }
  .loginform{
    border: 1px solid black;
    border-radius: 10px;
display: flex;
flex-direction: column;
margin: 10%;
padding: 5%;
}
.registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:dodgerblue;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
  }